[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
degen_roulette_v2 = "98RABzywqR9v33GmioVFeFrapM1LC5RiwmJbXdEPvx59"

[programs.devnet]
degen_roulette_v2 = "98RABzywqR9v33GmioVFeFrapM1LC5RiwmJbXdEPvx59"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/degen-roulette.json"
